<!--- Header and nav template site-wide -->

<div class="container">
	<div class = "row">
    	<div class="two columns">
			<h5><a href="/">Home</a></h5></div>
    	<div class="three columns">
			<h5><a href="/publications">Publications</a></h5></div>
		<div class="three columns">
			<h5><a href="/notebook">Notebook</a></h5></div>
		<div class="two columns">
			<h5><a href="https://github.com/simpson-carl">Code</a></h5></div>
    	<div class="two columns">
			<h5><a href="/sorted-posts/bryozoan">Bryozoans</a></h5></div>
	</div>
</div><!-- container -->

